# Payment Service Environment Configuration Example
ConnectionStrings__Egypt__Primary=Host=pgbouncer;Port=6432;Database=PaymentDb;Username=admin;Password=your_db_password;
ConnectionStrings__Egypt__Replica=Host=pgbouncer;Port=6432;Database=PaymentDbReplica;Username=admin;Password=your_db_password;
ConnectionStrings__USA__Primary=Host=pgbouncer;Port=6432;Database=PaymentDb-USA;Username=admin;Password=your_db_password;
ConnectionStrings__USA__Replica=Host=pgbouncer;Port=6432;Database=PaymentDb-USAReplica;Username=admin;Password=your_db_password;
ConnectionStrings__PaymentDatabase=Host=pgbouncer;Port=6432;Database=PaymentDb;Username=admin;Password=your_db_password;
ConnectionStrings__Redis=redis:6379,abortConnect=false
ASPNETCORE_ENVIRONMENT=Development
