# PostgreSQL Environment Configuration Example
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=write_db
POSTGRES_REPLICATION_USER=replicator
POSTGRES_REPLICATION_PASSWORD=change_me
POSTGRES_PRIMARY_HOST=write-db
POSTGRES_PRIMARY_PORT=5432
